[Unit]
Description=CrowdSec bouncer for AWS WAF
After=syslog.target crowdsec.service

[Service]
Type=notify
ExecStart=${BIN} -c ${CFG}/crowdsec-aws-waf-bouncer.yaml
ExecStartPre=${BIN} -c ${CFG}/crowdsec-aws-waf-bouncer.yaml -t
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
